body {
    margin : 0; 
    padding : 0; 
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}

header {
    width: 330px;
    margin: 40px auto;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.cuadricula {
    display: grid;
    max-width: 300px;
    margin: 100px auto;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: 110px 110px 110px;
}

button {
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}
.centro {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.izq {
    border-left: 1px solid white;
}
.der {
    border-right: 1px solid white;
}
button:hover {
    background-color: #6dd5ed9d;
}